body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-shadow: 2px 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: black;
  border: 1px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-shadow: 2px 2px 3px 2px;
}

.showResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h4 {
  margin-bottom: 5px;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}
